<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI" 
                     path="*" 
                     verb="*" 
                     modules="FastCgiModule" 
                     scriptProcessor="C:\Users\Bin\AppData\Local\Programs\Python\Python36\python.exe|C:\Users\Bin\AppData\Local\Programs\Python\Python36\Lib\site-packages\wfastcgi.py" 
                     resourceType="Unspecified" 
                     requireAccess="Script"/>
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="D:\python\django\nuoxiao" /> 
			
			<add key="WSGI_LOG" value="D:\python\django\nuoxiao\nuoxiao_app.log" />
			<add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
			<add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
			<add key="DJANGO_SETTINGS_MODULE" value="nuoxiao.settings" />
			<add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
			<add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" />
        </appSettings>
    </configuration>